root=Root Schema
core=Core Schema,org.fujion.component
ace=Ace Editor Extension,org.fujion.ace
angular=AngularJS Extension,org.fujion.angular
barcode=Barcode Extension,org.fujion.barcode
canvas=Canvas Extension,org.fujion.canvas.*
captcha=Captcha Extension,org.fujion.captcha
chartjs=Chart.js Extension,org.fujion.chartjs
ckeditor=CKEditor Extension,org.fujion.ckeditor
codemirror=CodeMirror Extension,org.fujion.codemirror
gmaps=Google Maps Extension,org.fujion.gmaps
highcharts=Highcharts Extension,org.fujion.highcharts
markdown=Markdown Extension,org.fujion.markdown
multimedia=Multimedia Extension,org.fujion.multimedia
mxgraph=mxGraph Extension,org.fujion.mxgraph
plotly=Plotly Extension,org.fujion.plotly
react=React Extension,org.fujion.react
sparkline=Sparkline Extension,org.fujion.sparkline
spinjs=spin.js Extension,org.fujion.spinjs
